/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Sidebar division
 */
.side-divider {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/**** SIDEBAR ****/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5f5f5f;
    overflow-x: hidden;
    padding-top: 60px;
    border-right: 1px solid #eee;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    background-color: #696969;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 10px;
}

.active {
    background-color: #696969;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #777;
}

.dropdown-container a {
    font-size: 14px;
    padding-left: 25px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/**** DIVIDER ****/
.divide-5 {
    clear: both;
    height: 5px;
    width: 100%;
}

.divide-10 {
    clear: both;
    height: 10px;
    width: 100%;
}

.divide-15 {
    clear: both;
    height: 15px;
    width: 100%;
}

.divide-20 {
    clear: both;
    height: 20px;
    width: 100%;
}

.divide-25 {
    clear: both;
    height: 25px;
    width: 100%;
}

.divide-30 {
    clear: both;
    height: 30px;
    width: 100%;
}

.divide-40 {
    clear: both;
    height: 40px;
    width: 100%;
}

.divide-50 {
    clear: both;
    height: 50px;
    width: 100%;
}

.divide-60 {
    clear: both;
    height: 60px;
    width: 100%;
}

.divide-80 {
    clear: both;
    height: 80px;
    width: 100%;
}

.divide-95 {
    clear: both;
    height: 95px;
    width: 100%;
}

.divide-100 {
    clear: both;
    height: 100px;
    width: 100%;
}

.login {
    background-color: #373737;
    color: #fff
}

/*
 * Checkboxlist
 */
.checkboxlistformat label {
    margin-left: 5px;
    font-weight: normal;
}

/*
 * Navbar Text
 */
.navbar-inverse .navbar-text {
    color: #e8e8e8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
}

/*
 * Backgroun Dashboard
 */
.dashboard-back {
    width: 100%;
    height: 600px;
    background-image: url(../imagenes/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
    background-clip:border-box;
    position: static;
    z-index: -1;
}